* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "inter", sans-serif;
  background-color: #0d2a3b;
  color: #eae3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-body {
  background-color: #3d718f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  padding: 2rem;
  max-width: 350px;
  text-align: center;
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.advice-id {
  color: #0d2a3b;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
  font-weight: 600;
}

.card-details p {
  font-size: 1rem;
  text-transform: capitalize;
  max-width: 32ch;
  margin-bottom: 2rem;
}

.dice-btn {
  background-color: #0d2a3b;
  color: #fff;
  border: 1px solid #3d718f;
  cursor: pointer;
  padding: 0.2rem 1.5rem;
  border-radius: 18px;
  transition: all 0.3s ease;
  position: absolute;
  bottom: -1.2rem;
}
.dice-btn:hover {
  background-color: #033452;
}
svg {
  fill: #fff;
  transition: all 0.3s ease;
}
.dice-btn:hover svg {
  fill: #3d718f;
  transform: rotate(180deg) scale(1.05);
}

/* media queries */
@media (min-width: 729px) {
  .card-body {
    max-width: 500px;
  }
}
